@model IEnumerable<BloodBankManagementSystem.Models.BloodBank>

@{
    ViewBag.Title = "BloodB";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<h2 class="jumbotron text-center">Blood Bank</h2>
<p>
    @Html.ActionLink("Create New", "Createbb")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.bloodgroup)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.cityname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.statename)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.countryname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phoneno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.website)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.bloodgroup)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.cityname)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.statename)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.countryname)
    </td>
    <td>
        @Html.ActionLink("Edit", "Editbb", new { id = item.bloodbankid }) |

        @Html.ActionLink("Delete", "Deletebb", new { id = item.bloodbankid })
    </td>
</tr>
    }

</table>
