@model BloodBankManagementSystem.Models.BS

@{
    ViewBag.Title = "CreateBS";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

@*<h2>CreateBS</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>BS</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.bloodstockid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bloodstockid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bloodstockid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.bloodgroupid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bloodgroupid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bloodgroupid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.bloodbankid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bloodbankid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bloodbankid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.bloodtypeid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bloodtypeid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bloodtypeid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "BloodStock")
    </div>*@





@{
    ViewBag.Title = "CreateS";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2 class="jumbotron text-center"> Add Blood Stock</h2>


<div class=" row">


    <div class="col-md-15 col-md-offset-2 ">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                

                <div class="form-group">
                    @Html.LabelFor(model => model.bloodtypeid, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.bloodtypeid, ViewBag.Bloodtypeslist as SelectList, "--Blood Type", new { @class = "form-control" })
                    </div>
                </div>

                <script src="~/Scripts/jquery-3.3.1.min.js"></script>

                <script>


                    $(document).ready(function () {
                        $("#bloodtypeid").change(function () {
                            $.get("/Home/Bloodtypelist", { bloodtypeid: $("#bloodtypeid").val() }, function (data) {


                            })
                        });
                    });
                </script>


                <div class="form-group">
                    @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.bloodgroupid, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.bloodgroupid, ViewBag.bloodgrouplist as SelectList, "--Blood Group--", new { @class = "form-control" })
                    </div>
                </div>



                <script src="~/Scripts/jquery-3.3.1.min.js"></script>

                <script>


                    $(document).ready(function () {
                        $("#bloodgroupid").change(function () {
                            $.get("/Home/GetStateList", { bloodgroupid: $("#bloodgroupid").val() }, function (data) {


                            })
                        });
                    });
                </script>


                <div class="form-group">
                    @Html.LabelFor(model => model.bloodbankid, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.bloodbankid, ViewBag.BloodBankList as SelectList, "--Blood Group--", new { @class = "form-control" })
                    </div>
                </div>



                <script src="~/Scripts/jquery-3.3.1.min.js"></script>

                <script>


                    $(document).ready(function () {
                        $("#bloodbankid").change(function () {
                            $.get("/Home/GetBloodBankList", { bloodgroupid: $("#bloodbankid").val() }, function (data) {


                            })
                        });
                    });
                </script>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" onclick="alert('Blood Stock Add Successfully')" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div>
    @Html.ActionLink("Back to List","BloodStock")
</div>


<script>
    $(document).ready(function () {
        $("input").click();
    });
</script>
