@model BloodBankManagementSystem.Models.Donor

@{
  

    Layout = "~/Views/Shared/_UserLayout1.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2 class="jumbotron text-center">Update Profile</h2>
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        <div class=" container">

            <div class=" row">
                <div class="col-md-4">


                    <img src="~/Image/login.jpg" class="img-responsive" />
                </div>
                <div class="col-md-8">



                    <div class="form-group">
                        @Html.LabelFor(model => model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.genderid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.genderid, ViewBag.GenderList as SelectList, "--Gender--", new { @class = "form-control" })
                        </div>
                    </div>


                    <script src="~/Scripts/jquery-3.3.1.min.js"></script>



                    <script>


                        $(document).ready(function () {
                            $("#genderid").change(function () {
                                $.get("/Default/GetGenderList", { genderid: $("#genderid").val() }, function (data) {


                                })
                            });
                        });
                    </script>




                    <div class="form-group">
                        @Html.LabelFor(model => model.bloodgroupid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.bloodgroupid, ViewBag.BloodGroupList as SelectList, "--Blood Group--", new { @class = "form-control" })
                        </div>
                    </div>


                    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

                    <script>


                        $(document).ready(function () {
                            $("#bloodgroupid").change(function () {
                                $.get("/Default/GetStateList", { bloodgroupid: $("#bloodgroupid").val() }, function (data) {


                                })
                            });
                        });
                    </script>

                    <div class="form-group">
                        @Html.LabelFor(model => model.panno, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.panno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.panno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.phoneno, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.phoneno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phoneno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                  

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                        </div>
                    </div>






                    <div class="form-group">
                        @Html.LabelFor(model => model.countryid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @if (ViewBag.CountryList != null)
                            {
                                @Html.DropDownListFor(model => model.countryid, ViewBag.CountryList as SelectList, "--Select Country--", new { @class = "form-control", });
                            }
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.stateid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.DropDownListFor(model => model.stateid, new SelectList(" "), "--Select State--", new { @class = "form-control", })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.cityid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.DropDownListFor(model => model.cityid, new SelectList(" "), "--Select City--", new { @class = "form-control", })

                        </div>
                    </div>



                    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
                    <script>
                        $(document).ready(function () {
                            $("#countryid").change(function () {
                                $.get("/Home/GetStateList", {
                                    countryid: $("#countryid").val
                                        ()
                                }, function (data) {
                                    $("#stateid").empty();
                                    $.each(data, function (Index, row) {
                                        $("#stateid").append("<option value='" + row.stateid + "'>" + row.statename + "</option>")
                                    });
                                });
                            });
                            $("#stateid").change(function () {
                                $.get("/Home/GetCityList", { stateid: $("#stateid").val() },
                                    function (data) {
                                        $("#cityid").empty()
                                        $.each(data, function (Index, row) {
                                            $("#cityid").append("<option value='" + row.cityid + "'>" + row.cityname + "</option>")
                                        });
                                    });
                            });
                        });
                    </script>






                    <div class="row text-center">


                        <div class="col-sm-6 col-sm-offset-1">

                            <input type="submit" value="Update" class="btn btn-success btn-block" />

                        </div>

                    </div>




                </div>
            </div>
        </div>
    }
</div>








@*@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Donor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.genderid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.genderid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.genderid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bloodgroupid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bloodgroupid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bloodgroupid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cityid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cityid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cityid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stateid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stateid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stateid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.countryid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.countryid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.countryid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastdonationdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastdonationdate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastdonationdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phoneno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phoneno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phoneno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.panno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.panno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.panno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
